html{
    font-family:Avenir,Open Sans,Helvetica,sans-serif;
    background: white;
    color:rgb(0, 0, 0,.8);
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }